#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif; /* Changed font style */
}

.logo {
  height: 7em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
  filter: brightness(100%);
}
.logo:hover {
  filter: brightness(110%);
}
.logo.react:hover {
  filter: brightness(120%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 3em;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif; /* Changed font style */
}

.read-the-docs {
  color: #555;
  font-size: 1.2em;
  font-family: Arial, sans-serif; /* Changed font style */
}
