.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif; /* Changed font style */
  font-size: 16px; /* Added font size property */
}

form {
  border: 1px solid rgb(187, 181, 181);
  padding: 20px;
  border-radius: 10px;
}

.text {
  width: 500px;
}

h2 {
  font-size: 35px;
  font-family: 'Courier New', monospace; /* Changed heading text style */
  padding-bottom: 15px;
}

.card-2 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.main-box {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}

.text-box {
  padding: 10px;
  font-size: 16px;
}

.toggle {
  width: 100px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
}
